<h1>List of all movies</h1>

<%= link_to "Sort by Alphabetical", {:controller => "movies", :action => 'index', :filter => "alpha"} %>
<%= link_to "Sort by date created", {:controller => "movies", :action => 'index', :filter => "date" } %>

<ul>
  <% @movies.each do |movie|%>
    <li><%= link_to movie.title, movie_path(movie)%></li>
  <%end%>
</ul>


<%= link_to 'Create New Movie', new_movie_path %>


<br>
